<div class="container3">
  <div class="row">
 
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm">
        <%= form_for(@app, url: @app.slug.nil? ? startups_path : startup_path(@app.slug), html: {class: "form-horizontal"}) do |f| %>
          <fieldset>
            <legend class="text-center"><h4>Tell us a little bit about your startup</h4></legend>
            <% if @app.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

                <ul>
                <% @app.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name, class:"col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :tagline, class:"col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.text_field :tagline, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :founders, class:"col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.text_field :founders, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :website, class:"col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.text_field :website, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :logo, class:"col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.file_field :logo, class: "form-control" %>
                <%= f.hidden_field :logo_cache %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :category, class:"col-md-3 control-label" %>
              <div class="col-md-9">
                <%= f.select :category, App::CATEGORIES.collect {|cat| [cat,cat]}, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-right">
                <%= f.submit "Update", class: "btn btn-primary btn-md" %>
                <%= link_to 'Edit Video', startup_add_youtube_path(startup_id: @app.slug), class: "btn btn-primary btn-md" %>
              </div>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
