<div class="container-fluid2">
  <div class="row">
    <div class="col-md-5">

      <ul class="nav navbar-nav navbar-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Category <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li style="">
              <%= link_to(" websites", websites_startups_path, class: "") %>
            </li>
            <li style="">
              <%= link_to(" mobile", mobile_startups_path, class: "") %>
            </li>
            <li style="">
              <%= link_to(" products", products_startups_path, class: "") %>
            </li>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li style="">
              <%= link_to("Newest", startups_path, class: "") %>
            </li>
            <li style="">
              <%= link_to("Most Viewed", viewed_startups_path, class: "") %>
            </li>
            <li style="margin-right:3px;">
              <%= link_to("Popular", popular_startups_path, class: "") %>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>


<div id="my-apps">
  <%= render partial: 'app', collection: @apps %>
</div>

<div id="infinite-scrolling" align="center" style="display: none">
  <%= will_paginate @apps %>
</div>
