
<div class="col-md-12">
<div class="container4">
<div class="row">
  <div class="panel panel-default3">
   <div class="panel-body">
    <%= link_to "Back", :back, class: "btn btn-default" %>
    <div class="row">
     <div class="col-md-12 col-md-offset-4 col-sm-4 col-xs-4">
      <img src="http://i.imgur.com/GITo8kD.png" class="img-circle" style="width:150px; height:150px; margin-left: 80px; margin-top: 30px;" />
     </div>
     <div class="col-md-8 col-md-offset-4">
      <h3><%= current_user.name %></h3>
       <h5><%= current_user.description %></h5>
      <%= link_to(" Edit Profile", edit_profile_user_path, class: "btn btn-default", style: " margin-right: 10px;") %>

     <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:40px; height:40px;" />
     <img src="http://i.imgur.com/6TXP7rG.png" class="img-circle" style="width:40px; height:40px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:40px; height:40px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:40px; height:40px;" />
     </div>
    </div>
   </div>
  </div>
</div>
    

    <div class="container" style="height: 1000px;">
  <div class="row">
   <div class="panel-body">
   
        <br />
        <div class="col-md-8 col-md-offset-2">
        <%= link_to("Answer Questions", edit_profile_user_path, class: "btn btn-default pull-right", style: " margin-right: 10px;") %>
         <h4>Bio Questions</h4>

         <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> How did you get into startups?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Twitter Bootstrap?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
           
 
   <div class="panel-heading">
       <h3 class="panel-title">Devin's Likes</h3>
   </div>    
   <div class="panel-body">

     <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/6TXP7rG.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:100px; height:100px;" />

   </div>
 


 

  
