<!DOCTYPE html>
<html>
<head>
  <title>Flyy - Startups Gone Viral</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="Startups, Discover Startups, Startup Videos" /> 
  <meta name="description" content="The new way to discover startups and to promote your startup. Be different, be bold, but be short. " />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>


<div class="container">
	<% flash.each do |name, msg| %>
	     <%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
</div>


  <%= yield %>
</body>
</html>
